@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2b2b2b;
}

a {
  font-weight: 500;
  color: #dd972f;
  text-decoration: inherit;
  line-height: 1.1;
}
a:hover {
  color: #dfb06a;
}