:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #dd972f;
  text-decoration: inherit;
  line-height: 1.1;
}
a:hover {
  color: #dfb06a;
}

h1 {
  font-size: 3.0em;
  line-height: 1.1;
  animation: fadeIn 1s;
}

h2 {
  animation: fadeIn 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

h4 {
  animation: fadeIn 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}